<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
    <%- include('common/header'); %>
    <h1>Welcome, <%= user.name %></h1>
    <h3><%= user.email %></h3>
    <h3><%= user.country %></h3>

    <ul>
        <% user.skills.forEach((item)=>{%>
        <li><%= item %></li>
        <% })%>
    </ul>

</body>
</html>